<div class="alert alert-info">
  From: {{ apiUrl }}
</div>
<div *ngFor="let user of users$">

  <h3>{{user.name}}</h3>
  <ul>
    <li>ID: {{user.id}}</li>
    <li>Email: {{user.email}}</li>
    <li>
      <label for="">Address</label>
      <ul>
        <li>Street: {{user.address.street}}</li>
        <li>City: {{user.address.city}}</li>
        <li>Geo:
          <ul>
            <li>lat: {{user.address.geo.lat}}</li>
            <li>lng: {{user.address.geo.lng}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>